In [125]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.io as pio
from plotly.subplots import make_subplots
import talib as tb
import yfinance as yf


import datetime
from datetime import date
from datetime import datetime as dt
from dateutil.relativedelta import *
from datetime import timedelta

import warnings
warnings.filterwarnings("ignore")

In [128]:
df = pd.read_csv(r'../BC5/portfolio.csv')

In [129]:
df

      coin  percentage
0  BTC-USD         0.2
1  ETH-USD         0.1

In [179]:
df_test= df.copy()

In [152]:
if 'BTC-USD' not in df['coin'].tolist():
    print('yes')

In [151]:
 df['coin']

0    BTC-USD
1    ETH-USD
Name: coin, dtype: object

In [180]:
df_test

      coin  percentage
0  BTC-USD         0.2
1  ETH-USD         0.1

In [186]:
def update_portfolio(df, value, signal, coin, total_cost):

    df_coin = yf.download(coin,
                      start=date.today(), 
                      progress=False,
                      interval='1m'
    )
    if signal == 'buy':
            total_cost = total_cost + value
            if coin not in df['coin'].tolist():
                                p= float(value/df_coin[df_coin.index == df_coin.index.min()]['Open'])
                                df2 = {'coin': coin, 'percentage':p}

                                df = df.append(df2, ignore_index = True)
            
            else:

                for i, coin_name in enumerate(df.coin):
                    if coin_name==coin:
                        df['percentage'][i] = df['percentage'][i] + (value/df_coin[df_coin.index == df_coin.index.min()]['Open'])

            
    if signal == 'sell': 
        total_cost = total_cost - value
        for i, coin_name in enumerate(df.coin):
                    if coin_name==coin:
                        if float(df['percentage'][i] - (value/df_coin[df_coin.index == df_coin.index.min()]['Open'])) < 0: return 'error'
                        df['percentage'][i] = df['percentage'][i] - (value/df_coin[df_coin.index == df_coin.index.min()]['Open']) 
        if coin not in df['coin'].tolist():
            print('error: coin not found')
    return df, total_cost

In [183]:
df_test

      coin  percentage
0  BTC-USD   17.331279
1  ETH-USD    0.100000

In [192]:
total_cost

1000000

In [191]:
df_test, total_cost = update_portfolio(df_test, 500000, 'sell', 'BTC-USD',total_cost)

In [167]:
def total_value(df):

    total = 0 
    for i, v in enumerate(df['coin']):
        df_coin = yf.download(v,
                      start=date.today(), 
                      progress=False,
                      interval='1m'
                    )

        coin_value = df_coin[df_coin.index == df_coin.index.min()]['Open']
        total = total + df['percentage'][i]*coin_value
    
    return float(total)

In [172]:
total_value(df_test)

506084.8494750976

In [171]:
df_test

      coin  percentage
0  BTC-USD   17.332992
1  ETH-USD    0.100000
2  SOL-USD    0.000000